{% extends 'base.html.twig' %}

{% block title %} О нас {% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/contacts.css') }}"> {% endblock %}

{% block body %}

  <div class="about">
    <p>Этот блог был создан прекрасными людьми для других прекрасных людей, <br> чтобы рассказать и показать в каком по-настоящему красивом мире мы живем. <br></p>

    <p>Открывайте для себя новое, слушайте хорошую музыку, вдохновляйтесь, творите и путешествуйте вместе с нами!</p>

    <p class="lessp">Если у вас возникли какие-либо вопросы, вы можете написать нам по указанному адресу в любое время:</p>
    <a href="#">example@mail.com</a>

  </div>



{% endblock %}
