{% extends 'base.html.twig' %}

{% block title %} Правила {% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/contacts.css') }}"> {% endblock %}

{% block body %}

  <div class="rules">
    <h3> Общие правила поведения на сайте:</h3>
    <ul>
      <li>
        <p> Строго запрещаются оскорбления в адрес других пользователей и администрации сайта.</p>
      </li>
      <li>
        <p> Только зарегистрированные пользователи могут публиковать комментарии. </p>
      </li>
      <li>
        <p> Суть комментария должна быть привязана к теме. Абстрактные комментарии не приносят пользы читателям, а намеренно спамные комментарии, завуалированные ссылки и линки к коммерческим сайтам будут удаляться; при этом пользователь получает предупреждение. </p>
      </li>
      <li>
        <p> Пользователь может иметь только один аккаунт. </p>
      </li>
      <li>
        <p> Запрещается использование и размещение материалов сайта на сторонних ресурсах без указания автора. </p>
      </li>
    </ul>
  </div>



{% endblock %}
